<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>
         Quotes - {% block title %}{% endblock %}
      </title>
     
      {% block stylesheets %}{% endblock stylesheets %}

      <!-- here you put your stylesheets-->
      <!-- here you put your js-->
   </head>
   <body>
   
       <h1>Latest Quotes</h1>
    <ul>
        {% for quote in quotes %}
        <li><a href="{% url 'quote_detail' quote.id %}">{{ quote.text }}</a> - {{ quote.author }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_quote' %}">Add Quote</a>
    <a href="{% url 'profile' %}">Profile</a>
   
      {% include 'includes/header.html' %}
      
      {% block content %}
      {% endblock content %}
      
      {% include 'includes/footer.html' %}
   </body>
</html>

