{% extends "layouts/base.html" %}

{% block title %} Quote list {% endblock %}

{% block content %}
<h1>Quotes List</h1>
    {% for q in quotes %}
        <div class="quote-container" style="text-align: center;">
            <p class="quote-text" id="quoteText"><a href="{% url 'quote_detail' qId=q.id %}">{{q.Tilte}}</a> </p>
            <p class="quote-author" id="quoteAuthor">{{q.author}}</p>
            <p class="quote-text" id="quoteText">{{q.text}}</p>
        </div>
     

            
    {%endfor%}
{% endblock content %}

  

