{% extends "layouts/base.html" %}
{% block title %} Quote Details {% endblock %}


{% block content %}
<h1>Quotes List</h1>
        <div class="quote-container" style="text-align: center;">
            <p class="quote-text" id="quoteText">{{quote.Tilte}}</a> </p>
            <p class="quote-author" id="quoteAuthor">{{quote.author}}</p>
            <p class="quote-text" id="quoteText">{{quote.text}}</p>
            <p class="quote-text" id="quoteText">{{quote.created_at}}</p>
        </div>
     

            
{% endblock content %}

  

